body{
    margin: 0px;
    padding: 0px;
}
.nav-link:hover{
    color: rgb(25, 153, 226) !important;
}
.testimonial .pic{
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
    overflow: hidden;
}
.testimonial .pic img{
    width: 100%;
    height: auto;
}
.owl-theme .owl-controls{ margin-top: 0; }
.owl-theme .owl-controls .owl-page span{
    background: #fff;
    opacity: 0.8;
    transition: 1s ease 0s;
}
.owl-theme .owl-controls .owl-page.active span{ background: #ffc33c; }
.testimonial{
    text-align: center;
    margin: 20px 30px 40px;
}

.owl-theme .owl-controls{ margin-top: 0; }
.owl-theme .owl-controls .owl-page span{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #6b2014;
    opacity: 0.8;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.45);
    transition: all 0.3s ease 0s;
}
.owl-theme .owl-controls .owl-page.active span{ background: #e4ac01; }
@media only screen and (max-width: 479px){
    .testimonial{ padding: 20px 15px 40px; }
    .testimonial .description{ padding: 0 5px 20px; }
}
@media (max-width:786px) {
    /* #Home {
        padding: 120px 0px 50px 0px !important;
    } */
    .discount{
    position: absolute;
    bottom: 102px !important;
    right: 42px!important;
}
    .anton {
        font-size: 40px !important;
    }
}
.discount{
    position: absolute;
    bottom: 350px;
    right: 173px;
}